/* External-CSS */
/* 
CSS Selector 
CSS Declaration
CSS Rule
property:value;
*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
}


.navList {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 16px;
}

.navLink {
  

  /* Longhand */

  /* Shorthand */
  
}

.section {
  height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
}

.heroText, 
.heroImg {
  width: 50%;
}

.heroText {
  text-align: center;
}

.about {
  display: flex;
  align-items: center;
}


.aboutText, 
.aboutImg {
  width: 50%;
}

.aboutText {
  text-align: center;
}


body {
  background-color: wheat;
}
main {
 
}
