/* External-CSS */
/* 
CSS Selector 
CSS Declaration
CSS Rule
property:value;
*/

header {
  
}
nav {
  
  /* gap: 20px; */
  /* flex-direction: column; */
}

.navList {

}

.navLink {

  /* Longhand */

  /* Shorthand */
  
}

section {
  height: 100vh;
}

body {
  background-color: wheat;
}
main {
  background-color: ;
}
